body {
  background: url(images/light-back.png);
  background-repeat: repeat;
  background-color: black;
  display: grid;
  place-items: center;
  color: #d9d9d9;
  font-family: 'Orbitron', sans-serif;
}

#clockContainer {
  position: relative;
  margin: auto;
  border: 6px solid black;
  height: 31vw;
  width: 31vw;
  background: url(images/clock.jpg) no-repeat;
  background-size: 100%;
  border-radius: 20%;
  box-shadow: 0 0.8rem 4rem 0.5rem #808080;
}

#hour, #minute, #second {
  position: absolute;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
  width: 3%;
  height: 25%;
  top: 25.1%;
  left: 48.6%;
  opacity: 0.8;
  background: black;
  /* display: none; */
}

#minute {
  width: 2%;
  height: 30%;
  top: 20.1%;
  left: 49.067%;
  opacity: 0.8;
  background: black;
  /* display: none; */
}

#second {
  width: 1%;
  height: 35%;
  top: 15.1%;
  left: 49.5%;
  opacity: 0.8;
  background: red;
  /* display: none; */
}

.text {
  margin-top: 5%;
  display: grid;
  place-items: center;
}

.time_text {
  font-size: 30px;
  word-spacing: 10px;
  letter-spacing: 6px;
  margin-bottom: 0;
  margin-top: 0;
  background-color: black;
  width: 110%;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #fff;
}

.date_text{
  margin-top: 8px;
  margin-bottom: 8px;
}

h1{
  margin: 4px 0 5px 0;
}
